<%- include('./layouts/header') %>

    <section id="search">
        <div class="search-box">
    <form action="/shops" method="GET">
        <input type="text"  id="search-bar" placeholder="Search for food, drinks..." name="search">
        <ul id="suggestions" style="border: 1px solid #ccc; display: none; position: absolute; background: white; list-style: none; padding: 0; width: 200px;"></ul>
        <input type="submit" class="search-icon" value="&#x1F50D;">
    </form>
</div>

    </section>
    <section id="offers">
        <h2>Special Offers</h2>
        <div class="swiper-container">
            <div class="swiper-wrapper">
               
                    <%
                    if(offers.length>0)
                    {
                       for(let i=0;i< offers.length; i++){ %>
                        <div class="swiper-slide">
                                <img src="/Productimages/<%= offers[i].image%>"    alt="<%= offers[i].image%>">
                        </div>
                     <% }
                         
                    }%>
               
            </div>
            <!-- Pagination (dots) -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section id="best-selling">
        <h2>Best Selling</h2>
        <div class="swiper-container">
            <div class="swiper-wrapper">
            <% if (topProducts.length > 0) { %>
            <% topProducts.forEach((product, index) => { %>          
                <div class="swiper-slide">
                    <div class="best-selling-card">
                                <img src="/Productimages/<%= product.productId.image%>" alt="Best Selling 1">
                                <div class="best-selling-card-content">
                                    <h3>Best Seller<%= index + 1 %></h3>
                                    <p><%= product.productId.name %></p>
                                    <p><%= product.productId.price %></p>
                                    <p><%= product.productId.available %></p>
                                    <p><%= product.productId.shopId.name %></p>
                                    <p><%= product.totalOrders %></p>
                                    <button class="add-to-cart-btn">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="3">No products found.</td>
                            </tr>
                        <% } %>

                  
            <!-- Pagination (dots) -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section id="shops">
        <h2>Available Shops</h2>
        <div class="available-shops">
        <%
        if(shops.length>0)
        {
           for(let i=0;i< shops.length; i++){ %>
                <div class="shop-card">
                    <img src="/Productimages/<%= shops[i].image%>"  height="50px" width="50px"  alt="<%= shops[i].image%>">
                    <div class="shop-card-content">
                        <h3><%= shops[i].name%></h3>
                        <p><%= shops[i].description%></p>
                        <a href="/shops/<%= shops[i]._id%>">
                        <button  class="menu-btn">Menu</button></a>
                    </div>
                </div>
         <% }
             
        }%>
        </div>
    </section>
    <section id="contact-details">
        <h2>Contact Us</h2>
        <p>For any queries, reach out to us at:</p>
        <p>Email: info@collegefoodcourt.com</p>
        <p>Phone: +123 456 7890</p>
    </section>

  <%- include('./layouts/footer') %>
















 